{% macro pagination_links(page) %}
{% if page.page_count > 1 %}
<ul class="pagination">
    {% if page.previous_page %}
    <li><a href="{{ page.url_maker(page.previous_page) }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for i in range(1, page.page_count + 1) %}
    <li{% if i == page.page %} class="active"{% endif %}><a href="{{ page.url_maker(i) }}">{{ i }}</a></li>
    {% endfor %}
    {% if page.next_page %}
    <li><a href="{{ page.url_maker(page.next_page) }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}
{% endmacro %}


{% macro breadcrumbs() %}
<ul class="breadcrumb">
    {% for item in varargs %}
    <li{% if loop.last %} class="active"{% endif %}>
    {% if item is string %}
    {{ item }}</li>
    {% else %}
    <a href="{{ item[0] }}">{{ item[1] }}</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}
