{% extends "emails/layout.html.jinja2" %}
{% block content %}
Please click on the link below to recover your password:<br>

{% set link=request.route_url('changepass', _query={'code': user.verification_code}) %}

<a href="{{ link }}">{{ link }}</a>
{% endblock %}
